.header {
  display: flex;
  justify-content: space-evenly;
  background: rgb(223, 205, 243);
  height: 50px;
}
.header a {
  font-size: 1000;
  color: rgb(46, 14, 79);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
@media only screen and (max-width: 688px) {
  .header {
    width: 85%;
    overflow: hidden;
  }
}
